<h3>Child</h3>
<p> derivedParentValue: <span id="child-value">{{model.derivedParentValue}}</span></p>
<p> currentCounter: <span id="counter-value">{{model.currentCounter}}</span></p>
<button id="modify-button" {{action "modifyValue"}}>Modify All Values</button>
<button id="refresh-current-button" {{action "refreshCurrent"}}>Refresh only child</button>